<html>
<body>
    <h1 style="text-align: center;">Commercial Aviation Fatalities Predictor</h1>
    <p>Most flight-related fatalities stem from a loss of “airplane state awareness”. That is, ineffective attention management on the part of pilots who may be distracted, sleepy or in other dangerous cognitive states.<br>We have built a model to detect troubling events from aircrew’s physiological data. Using this, pilots could be alerted when they enter a troubling state, preventing accidents and saving lives.</p>
    <div style="white-space: pre-line;">
    <p>We can process the data in two modes:<br><br>1. Single Mode - Process single record. We need to specify the input directly.</p>
    <button type="button" onclick="location.href='/single_mode'">Click here to process in Single Mode</button>
    </div>
    <div style="white-space: pre-line;">
    <p>2. Batch Mode - Process multiple records. We need to upload a csv file with inputs.</p>
    <button type="button" onclick="location.href='/batch_mode'">Click here to process in Batch Mode</button>
    </div>
</body>
</html> 